
@import "../index.scss";

.scroll {

  &--header {
    @include module;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
    color: white;
    margin-bottom: 1rem;
    padding: 1rem;
    h1 {
      width: 100%;
      text-align: center;
      margin: 1rem 0;
    }
    div {
      width: 26%;
      p {
        display: inline-block;
        margin-right: 0.5rem;
      }
    }
  }

  &--content {
    @include module;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    padding: 1rem;
    box-sizing: border-box;
  }

  &--item {
    display: inline-block;
    border: 1px solid;
    padding: 0.5rem;
    box-sizing: border-box;
    picture {
      margin-bottom: 1rem;
      img {
        width: 100%;
      }
    }
    header {
      h3 {
        font-size: 0.8rem;
        min-height: 3rem;
      }
      p {
        margin: 0.5rem 0;
        font-size: 1.25rem;
      }
    }
  }

  &--nav {
    @include module;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    margin: 1rem auto;
    a {
      padding: 1rem;
      background-color: steelblue;
      color: white;
    }
    b {
      color: red;
    }
  }

}
