@import "../../../sass/index";

.App {
  text-align: center;

  &-logo {
    width: 130px;
    height: auto;
    pointer-events: none;
    svg {
      display: block; width: auto; height: 100%;
    }
  }

  &-header {
    background-color: white;
    @include desk { background-color: whitesmoke; }
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #222;
  }

}